/Flash
/Backup
/Build
/Library
/obj
/Temp
/UnityPackageManager

#!/Assets/Script/*.cs

/GameParams/.idea
/GameParams/__pycache__
/.vs

/Assets/Textures/*.png
GameParams/~$Balance.xlsm
/Assets/Resources/heroes/*.json
/Assets/Resources/heroes/*.meta
/Assets/Resources/heroes/*.png
/Assets/Resources/heroes/*.mat
